body {
    background-image: url('https://i.pinimg.com/1200x/cc/c0/2a/ccc02ac95fa7de544809d07ee1453da7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
