body {
    background-image: url('https://github.com/glruin/fallen.angel/blob/main/images/fondo.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}
